### Naive Baye's Machine Learning Algorithm Implementation

In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [2]:
X,y = load_iris(return_X_y = True)

In [3]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [4]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 15)

In [6]:
X_train

array([[6. , 3. , 4.8, 1.8],
       [4.4, 2.9, 1.4, 0.2],
       [5.4, 3. , 4.5, 1.5],
       [5.5, 3.5, 1.3, 0.2],
       [6.7, 3.3, 5.7, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [6.1, 3. , 4.6, 1.4],
       [6.1, 2.8, 4.7, 1.2],
       [5.5, 2.4, 3.8, 1.1],
       [5. , 3.5, 1.6, 0.6],
       [5.8, 2.7, 3.9, 1.2],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 3.4, 5.6, 2.4],
       [7.7, 3. , 6.1, 2.3],
       [6.4, 3.1, 5.5, 1.8],
       [4.6, 3.1, 1.5, 0.2],
       [4.9, 2.5, 4.5, 1.7],
       [6.2, 2.2, 4.5, 1.5],
       [6.7, 3.3, 5.7, 2.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.8, 4. , 1.2, 0.2],
       [5.8, 2.6, 4. , 1.2],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.8, 1.6, 0.2],
       [6.4, 2.7, 5.3, 1.9],
       [5.6, 2.9, 3.6, 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [6.3, 2.3, 4.4, 1.3],
       [5. , 3.2, 1.2, 0.2],
       [6.5, 3.2, 5.1, 2. ],
       [6.7, 2.5, 5.8, 1.8],
       [6.5, 3. , 5.2, 2. ],
       [5.2, 4.1, 1.5, 0.1],
       [6.7, 3. , 5. , 1.7],
       [5.4, 3.9, 1.3, 0.4],
       [5.7, 3.8, 1.7, 0.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.9, 3.1, 5.1, 2.3],
       [6.4, 3.2, 4.5, 1.5],
       [5.5, 2.4, 3.7, 1. ],
       [6.9, 3.1, 5.4, 2.1],
       [5. , 2.3, 3.3, 1. ],
       [4.7, 3.2, 1.3, 0.2],
       [5.5, 4.2, 1.4, 0.2],
       [5.6, 2.7, 4.2, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [6.8, 2.8, 4.8, 1.4],
       [4.7, 3.2, 1.6, 0.2],
       [6.9, 3.2, 5.7, 2.3],
       [5. , 3.3, 1.4, 0.2],
       [6. , 2.7, 5.1, 1.6],
       [4.8, 3. , 1.4, 0.3],
       [5. , 2. , 3.5, 1. ],
       [4.8, 3.4, 1.9, 0.2],
       [7.3, 2.9, 6.3, 1.8],
       [5.8, 2.7, 5.1, 1.9],
       [6.3, 2.5, 5. , 1.9],
       [4.4, 3.2, 1.3, 0.2],
       [5.6, 3. , 4.5, 1.5],
       [5. , 3.4, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.7, 2.8, 4.1, 1.3],
       [5.2, 3.4, 1.4, 0.2],
       [7.9, 3.8, 6.4, 2. ],
       [6.1, 2.6, 5.6, 1.4],
       [5.6, 2.8, 4.9, 2. ],
       [6.1, 2.9, 4.7, 1.4],
       [4.6, 3.6, 1. , 0.2],
       [5. , 3.5, 1.3, 0.3],
       [7.2, 3.2, 6. , 1.8],
       [4.5, 2.3, 1.3, 0.3],
       [5.9, 3.2, 4.8, 1.8],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 3. , 5.8, 2.2],
       [6.7, 3.1, 4.4, 1.4],
       [7. , 3.2, 4.7, 1.4],
       [6.6, 3. , 4.4, 1.4],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [6.7, 3. , 5.2, 2.3],
       [5.7, 2.9, 4.2, 1.3],
       [4.9, 3. , 1.4, 0.2],
       [5.8, 2.8, 5.1, 2.4],
       [6.3, 3.3, 4.7, 1.6],
       [5.7, 4.4, 1.5, 0.4],
       [7.1, 3. , 5.9, 2.1],
       [5.7, 2.6, 3.5, 1. ],
       [5.1, 3.8, 1.9, 0.4],
       [5.1, 3.8, 1.5, 0.3],
       [4.9, 3.6, 1.4, 0.1],
       [5.1, 3.4, 1.5, 0.2],
       [7.6, 3. , 6.6, 2.1],
       [5.4, 3.7, 1.5, 0.2],
       [6. , 2.2, 4. , 1. ],
       [5.1, 3.3, 1.7, 0.5],
       [5.1, 3.5, 1.4, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 3.4, 4.5, 1.6],
       [6.4, 2.8, 5.6, 2.1],
       [6. , 2.2, 5. , 1.5],
       [6.3, 2.8, 5.1, 1.5],
       [6.7, 3.1, 5.6, 2.4]])

In [7]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)
y_pred = gnb.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print(confusion_matrix(y_pred,y_test))
print(accuracy_score(y_pred,y_test))
print(classification_report(y_pred,y_test))

[[15  0  0]
 [ 0 16  0]
 [ 0  0 14]]
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        16
           2       1.00      1.00      1.00        14

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [9]:
import seaborn as sns
df = sns.load_dataset('tips')

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [12]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [13]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [14]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [15]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [16]:
## Independent and Dependent features
X = df[['total_bill', 'tip', 'sex', 'smoker','time', 'size']] ## Independent features
y = df['day'] ## Dependent feature

In [17]:
## Train_test_split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25 , random_state = 42)

In [18]:
X_train.head()

     total_bill   tip     sex smoker    time  size
115       17.31  3.50  Female     No  Dinner     2
181       23.33  5.65    Male    Yes  Dinner     2
225       16.27  2.50  Female    Yes   Lunch     2
68        20.23  2.01    Male     No  Dinner     2
104       20.92  4.08  Female     No  Dinner     2

In [19]:
y_train.head()

115    Sun
181    Sun
225    Fri
68     Sat
104    Sat
Name: day, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

## Feature Encoding
### Label Encoding

In [20]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

In [21]:
X_train['sex'] = le1.fit_transform(X_train['sex'])
X_train['smoker'] = le2.fit_transform(X_train['smoker'])
X_train['time'] = le3.fit_transform(X_train['time'])

In [22]:
X_train.head()

     total_bill   tip  sex  smoker  time  size
115       17.31  3.50    0       0     0     2
181       23.33  5.65    1       1     0     2
225       16.27  2.50    0       1     1     2
68        20.23  2.01    1       0     0     2
104       20.92  4.08    0       0     0     2

In [23]:
X_test['sex'] = le1.transform(X_test['sex'])
X_test['smoker'] = le2.transform(X_test['smoker'])
X_test['time'] = le3.transform(X_test['time'])

In [24]:
X_test.head()

     total_bill   tip  sex  smoker  time  size
24        19.82  3.18    1       0     0     2
6          8.77  2.00    1       0     0     2
153       24.55  2.00    1       0     0     4
211       25.89  5.16    1       1     0     4
198       13.00  2.00    0       1     1     2

In [34]:
y_train

115    Sun
181    Sun
225    Fri
68     Sat
104    Sat
      ...
106    Sat
14     Sun
92     Fri
179    Sun
102    Sat
Name: day, Length: 183, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [35]:
y_test

24      Sat
6       Sun
153     Sun
211     Sat
198    Thur
       ...
172     Sun
242     Sat
152     Sun
231     Sat
155     Sun
Name: day, Length: 61, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [36]:
X_train

     total_bill   tip  sex  smoker  time  size
115       17.31  3.50    0       0     0     2
181       23.33  5.65    1       1     0     2
225       16.27  2.50    0       1     1     2
68        20.23  2.01    1       0     0     2
104       20.92  4.08    0       0     0     2
..          ...   ...  ...     ...   ...   ...
106       20.49  4.06    1       1     0     2
14        14.83  3.02    0       0     0     2
92         5.75  1.00    0       1     0     2
179       34.63  3.55    1       1     0     2
102       44.30  2.50    0       1     0     3

[183 rows x 6 columns]

## Naive Baye's Classifier -- GaussianNB

In [38]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)
y_pred = gnb.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

import warnings
warnings.filterwarnings("ignore")

print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

0.7213114754098361
[[ 0  0  0  0]
 [ 3 14  7  0]
 [ 0  7 13  0]
 [ 0  0  0 17]]
              precision    recall  f1-score   support

         Fri       0.00      0.00      0.00         0
         Sat       0.67      0.58      0.62        24
         Sun       0.65      0.65      0.65        20
        Thur       1.00      1.00      1.00        17

    accuracy                           0.72        61
   macro avg       0.58      0.56      0.57        61
weighted avg       0.75      0.72      0.74        61