In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:/Machine Leraning Projects/100-Days-of-Pandas-Tutorials-main/twitter_dataset.csv") # replace your data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet_ID   10000 non-null  int64
 1   Username   10000 non-null  object
 2   Text       10000 non-null  object
 3   Retweets   10000 non-null  int64
 4   Likes      10000 non-null  int64
 5   Timestamp  10000 non-null  object
dtypes: int64(3), object(3)
memory usage: 468.9+ KB

In [4]:
df.head(3)

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,2023-01-30 11:00:51
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,2023-01-02 22:45:58
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,2023-01-18 11:25:19

In [6]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [7]:
df['year'] = df['Timestamp'].dt.year
df['month'] = df['Timestamp'].dt.month

In [9]:
monthly_tweets = df.groupby(['year','month']).size().reset_index(name="tweet_counts")

In [10]:
monthly_tweets

   year  month  tweet_counts
0  2023      1          2346
1  2023      2          2076
2  2023      3          2296
3  2023      4          2195
4  2023      5          1087